@media (min-width:1920px){
    main{
        width: 1920px;
        margin: 0 auto;
    }
}

html{
  font-family: 'Crimson Pro', 'Pretendard', serif;
}
body.loading {
  overflow: hidden;
}
body.lock {
  overflow: hidden;
}


.page {
  height: 100vh;
}

.elevator {
  background: url(../img/bg.png) no-repeat 50% 50% / cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.elevator-wrap {
  position: relative;
  width: 600px;
  height: 800px;
  overflow: hidden;
}

/* 배경 */
.bg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}

/* 내부 */
.inside {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* 문 */
.door {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  transition: transform 1.5s ease-in-out;
  z-index: 2;
  object-fit: cover;
}

.left { left: 0; }
.right { right: 0; }

/* 문 열림 */
.elevator.open .left {
  transform: translateX(-100%);
}
.elevator.open .right {
  transform: translateX(100%);
}

/* 텍스트 */
.text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 4;
    color: #fff;
    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: none;
}

/* 문이 열릴 때 텍스트 등장 */
.text.show {
  opacity: 1;
}
.text.hide{
  opacity: 0;
}

.text h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.text .desc{
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.9;
  margin-bottom: 30px;
}

.blackandwhite{
  /* height: 1000px; 삭제 */
  height: auto;
  min-height: 100vh;
}


.bnwframe{
  width: auto;
  margin: 0 3rem;
}
.top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}
.name {
    display: flex;
    align-items: end;
    margin-bottom: 10px;
    font-family: "Special Gothic Condensed One";
}
.name h1 {
    font-size: 200px;
    line-height: 100%;
    margin: 0;
}
.name-wrap{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.name-wrap h3 {
    font-size: 95px;
    margin-left: 10px;
    margin-bottom: 17px;
    line-height: 89%;
}
.name-wrap p {
    padding-left: 7px;
    font-family: "Crimson Pro";
}
.profile {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 127px;
}

.introduce{
  display: flex;
  justify-content: flex-end;
  gap: 80px;
}
.introduce-text{
  margin-top: 100px;
  line-height: 145%;
}
.introduce-text h2 {
    margin-bottom: 80px;
    font-size: 24px;
}

.flip-card{
  width: 300px;
  height: 500px;
  perspective: 2000px;
}
.flip-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: flipAnim 5s infinite cubic-bezier(0.57, 0.22, 0.6, 0.97);
}
.flip-front, .flip-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
}
.flip-front {
  background-image: url('../img/IMG_3720.jpg'); /* 앞면 이미지 */
  border-radius: 10px;
}
.flip-back {
  background-image: url('../img/drawing.jpg'); /* 뒷면 이미지 */
  border-radius: 10px;
  transform: rotateY(180deg); /* 뒷면 뒤집기 */
}
@keyframes flipAnim {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


.exp-body.open:nth-child(1){
  max-height: 0;
}
    

.experience-h1 {
    font-size: 128px;
    margin-top: 30px;
    border-bottom: 1px solid black;
}
.experience {
    width: 100%;
    /* margin-top: 40px; */
}

.exp-row {
    border-bottom: 1px solid black;
    padding: 30px 0;
}
.exp-row:hover{
  border-bottom: 2px solid black;
}
/* 클릭되는 상단 영역 */
.exp-head {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.2fr 2fr 20px;
    align-items: start;
    cursor: pointer;
    position: relative;
    column-gap: 20px;
}

/* 오른쪽 네모 */
.exp-head .dot {
  width: 15px;
}

.exp-head .dot img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* 열리는 내용 */
.exp-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease, padding 0.35s ease;
  padding: 0 5px;
}
.exp-body figure{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.exp-body figure img{
    border-radius: 10px;
}
.exp-body.open {
  max-height: 300px;  /* 내용 길면 늘려도 됨 */
  padding: 15px 5px;
}
.exp-body.open figure{
  display: flex;
  justify-content: flex-end;
}

.experience-h1:nth-of-type(2){
    font-size: 128px;
    margin-top: 30px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-end;
}

.exp-head .period{ 
  font-size: 43px;
}



.skills-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 128px;
    height: 400px;
}
.star {
  display: inline-block;
  font-size: 40px;   /* 원하는 크기로 조절 */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.skills{
  margin-bottom: 30px;
}
.skills ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
}
.skills ul li {
    width: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-bottom: 20px; */
    padding: 30px;
    border: 1px solid black;
    opacity: 0.3;
    transition: all 0.5s ease 0s;
    border-radius: 10px;
    transform: scale(1);
    background-color: #fff;
    font-size: 14px;
}
.skills ul li:hover{
  opacity: 1;
  transform: scale(1.025);
}
.skills ul li h4{
  text-align: center;
  margin-bottom: 30px;
}