@media (max-width:1024px){
    html{
        font-size: 14px;
    }
    .blackandwhite .bnwframe{
        width: auto;
        margin: 0 2rem;
}
    .introduce-text h2 {
    line-height: 100%;
}
    .bnwframe .profile {
    margin-bottom: 30px;
}
    .exp-head .period {
        font-size: 33px;
    }
    .exp-body figure img{
        height: 250px;
    }
    .skills .skills-title {
    height: 280px;
}
    .skills ul li {
    padding: 50px;
}
.slider-h1 {
    font-size: 70px;
}
.star{
    font-size: 70px;
}
.special-h1 {
    font-size: 70px;
    text-align: right;
}
.blackandwhite .bnwframe .experience-h1 {
    font-size: 70px;
    margin-top: 12rem;
}

}

@media (max-width:768px){
    html{
        font-size: 12px;
    }
    .name-wrap h3 {
    font-size: 75px;
}
    .experience-h1 {
    font-size: 80px;
}
    .exp-body figure img {
    height: 180px;
}
    .bnwframe.experience-h1:nth-of-type(2) {
    font-size: 80px;
}
    .bnwframe .experience .exp-head .period {
    font-size: 23px;
}
    .bnwframe .skills ul li {
    height: 210px;
}
    .experience-h1-2 {
        font-size: 80px;
    }
    .skills-title h1 {
        font-size: 80px;
    }
    .slider-h1 {
        font-size: 80px;
    }
    .bnwframe .introduce-text h2 {
        font-size: 20px;
    }
    .blackandwhite .bnwframe .experience-h1 {
        font-size: 50px;
        margin-top: 12rem;
    }
    .special-h1 {
        font-size: 50px;
        text-align: right;
    }
    .star{
        font-size: 50px;
    }
    .slider-h1 {
        font-size: 50px;
    }
    .slide img {
        width: 200px;
        height: 200px;
        border-radius: 6px;
        object-fit: cover;
        transition: transform .25s ease;
    }
}

@media (max-width:400px){
    .blackandwhite .bnwframe{
        width: auto;
        margin: 0 1rem;
}   
    .name h1 {
    font-size: 145px;
}
    .name h1 {
    font-size: 175px;
}
    .introduce {
    display: flex;
    /* justify-content: flex-end; */
    gap: 80px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
    .introduce-text h2 {
    margin-bottom: 50px;
    font-size: 22px;
}
    .introduce {
        gap: 0;
}
    .experience-h1 {
    font-size: 40px;
}
    .experience-h1:nth-of-type(2) {
    font-size: 40px;
}
    .skills ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
    .skills ul li {
    height: 120px;
}
.bnwframe .experience .exp-head .period {
    font-size: 12px;
}
    .exp-head {
    column-gap: 10px;
}
    .company{
        font-size: 10px;
    }
    .exp-body figure img {
        height: 100%;
        width: 100%;
    }   
.blackandwhite .bnwframe .experience-h1-2 {
    font-size: 40px;
}
.skills-title h1 {
    font-size: 40px;
}
.blackandwhite .bnwframe .experience-h1 {
    font-size: 40px;
}
.skills .skills-title {
    height: 210px;
}

.bnwframe .skills ul li {
    height: 130px;
}
.slider-h1 {
    font-size: 40px;
}
.introduce-text {
    margin-top: 40px;

}
.skills {
    margin-bottom: 70px;
}
.zoom-img {
    width: 270px;
}
.slide img {
    width: 100px;
    height: 160px;
}
.exp-body figure img {
    height: 100%;
    width: 100%;
}
.exp-body.open figure {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.exp-body.open {
    max-height: 1200px;
    padding: 15px 5px;
}
.slider-title {
    display: flex;
    flex-direction: column;
}
.special-wrap {
    flex-direction: column;
}
.experience-title-wrap {
    display: flex;
    flex-direction: column-reverse;
}
.blackandwhite .bnwframe .experience-h1 {
    margin-top: 0rem;
}
.experience-title-wrap span {
    display: inline-block;
    padding-top: 14rem;
    padding-left: 0rem;
}
.slider-title span {
    display: inline-block;
    padding-top: 0px;
}
}

@media (max-width:280px){
    .exp-body.open {
        max-height: 800px;
        padding: 15px 5px;
    }
    .name h1 {
    font-size: 100px;
}
    .name-wrap h3 {
    font-size: 30px;
    margin-bottom: 10px;
}
    .flip-card {
    width: 250px;
}
    .introduce-text h2 {
    font-size: 16px;
}
    .introduce-text {
    margin-top: 50px;
}
    .experience-h1 {
    font-size: 30px;
}
    .experience-h1:nth-of-type(2) {
    font-size: 30px;
}
    .skills .skills-title {
    height: 190px;
}
    .skills-title{
        font-size: 70px;
    }
    .name-wrap p {
    padding-left: 0px;
    font-family: "Crimson Pro";
}
    .skills ul li {
    height: 190px;
}
    .exp-body figure {
    gap: 5px;
}
.profile {
    font-size: 10px;
}
.introduce-text {
    margin-top: 70px;
}
.bnwframe .profile {
    margin-bottom: 60px;
}
.slider-h1 {
    font-size: 28px;
}
.skills-title h1 {
    font-size: 28px;
}
.blackandwhite .bnwframe .experience-h1-2 {
    font-size: 28px;
}
.blackandwhite .bnwframe .experience-h1 {
    font-size: 28px;
}
.bnwframe .skills ul li {
    height: 200px;
}
.zoom-img {
    width: 200px;
}
.bnwframe .introduce-text h2 {
    font-size: 15px;
}
.exp-body.open figure {
    flex-direction: column;
}
.special-wrap .special-h1 {
    font-size: 28px;
    text-align: inherit;
}
}